<form class="navbar-form" {{action 'login' on="submit"}}>

	<h2>Login</h2>

	{{#if errorMessage}}
		<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
			</button>
			
			{{errorMessage}}
		
		</div>
	{{/if}}

	{{input value=username type="text" class="form-control" autofocus="autofocus" placeholder="Username"}}

	{{input value=password type="password" class="form-control" placeholder="Password"}}
	
	{{input type="submit" class="btn" value="Log In"}}
	
</form>
{{outlet}}
