<div class="centered">
	{{title}}
	
	<div>
			<span class="num">{{temp}}</span>
			<span class="deg">°</span>
			<span>
				<img class="centered-img" src="http://l.yimg.com/a/i/us/we/52/27.gif">
				<span>{{text}}</span>
			</span>
	</div>

	<div class="row">
		<div class="col-md-8">
			{{#each forecast}}
					{{day}} 
			{{/each}}
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-8">
			{{#each forecast}}
					{{high}}° / {{low}}° 
			{{/each}}
		</div>
	</div>

</div>
