<div class="outer">

	<div class="inner">
		<div>{{title}}</div>
		<span class="num">{{temp}}</span>
		<span class="deg">°</span>
		<img class="centered-img" src="http://l.yimg.com/a/i/us/we/52/27.gif">
		<div class="centered-text">{{text}}</div>

		<div class="row">
			{{#each forecast}}
				<span class="col-md-2"> {{day}} </span>
			{{/each}}
		</div>
		<div class="row">
			{{#each forecast}}
				<span class="col-md-2"> {{high}}° / {{low}}° </span>
			{{/each}}
		</div>
	</div>
</div>

